:root{
    --blanco--: #ffff;
    --negro--: black;
    --rojo--: #8C104E; 
    --verde--: #52BE80;
    --gris--: #EAEDED;
    --blanco2--: rgb(255, 255, 255);
    
}
*{
    margin: 0% auto;
    padding: 0% auto;
}

body{
    font-family: 'Outfit', sans-serif;
}

p{
    font-size: 1.3rem;
}

a{
    text-decoration: none;
}

/* MENÚ DE NAVEGACIÓN SMALL */
@media only screen and (max-width:1023px){

   .min{
        margin: 0% auto;
        padding: 0% auto;
        width: 100% ;
   }

    .content_navbar{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 250px;
    }

    .content_video{
        position: relative;
    }

    .content_video video{
        width: 90px;
        background-color: #333741;
    }

    .black{
        display: none;
    }

    .cont-menu{
        display: none;

    }

    .content_list{
        position: relative;
        bottom: 250px;
    }

    .content_navbar{
        height: auto;
    }
}

/* MENÚ DE NAVEGACIÓN BIG */
@media(min-width:728px){
    .navar{
        background-color: black;
        height: 80px;
        max-width: 100%;
    }

    .navar_1{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .content_video{
        position: relative;
        right: 150px;
    }

    .content_video .black{
        position: absolute;
        width: 80px;
        object-fit: cover;

    }

    .content_video .white{
        display: none;
    }

    .icon_menu{
        display: none;
    }

    .min{
        display: none;
    }

    /* .logo_whatssive{
        width: 80px;
        position: relative;
        right: 150px;
    } */


    .navar_1 ul{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        margin-top: 2rem;
    }


    .navar_1 li{
        list-style: none;
    }

    a{
        text-decoration: none;
        color: var(--blanco--);
    }

    .navar_1 a:hover{
        cursor: pointer;
        color: var(--rojo--);
    }

}

/* PRIEMA SECCIÓN SMALL */
@media only screen and (max-width: 1023px){
    .firt_section{
        text-align: center;
        height: 200px;

    }

    .content_all-firt-section{
        position: relative;
        top: 2rem;
    }

    .title_content h1{
        font-size: 2.5rem;
        color: var(--verde--);
        font-weight: 900;
    }

    .title_content h3{
        font-size: 1.3rem;
    }

    .api_button{
        padding: 15px 25px 15px 25px;
        width: 180px;
        border: none;
        border-radius: 5px;
        background-color: var(--verde--);
        color: var(--blanco--);
        margin: 10px;
    }

    .api_button:hover{
        color: var(--rojo--);
    }
}

/* PRIMERA SECCIÓN BIG */
@media(min-width:768px){
    .firt_section{
       text-align: center;
       height: 640px;
       margin: 0% auto;
       padding: 0% auto;
       background-image: url(../images/Full\ Inbox\ _Monochromatic.png);
       background-repeat: no-repeat;
    }

    .content_all-firt-section{
        position: relative;
        top: 12rem;
    }

    .title_content h1{
        font-size: 3rem;
        color: var(--verde--);
        font-family: 'Outfit', sans-serif;
        font-family: 'Roboto', sans-serif;
    }

    .title_content h3{
        font-size: 1.8rem;
    }
  
    .api_button{
        padding: 20px 30px 20px 30px;
        margin-top: 30px;
        width: 180px;
        border: none;
        margin-left: 5px;
        margin-right: 5px;
        border-radius: 5px;
        color: var(--blanco--);
        background-color: var(--verde--);
        transition: transform .2s;
        text-align: center;
    }

    .api_button:hover{
        cursor: pointer;
        transform: scale(1.1);
    }
 
}

/* SEGUNDA SECCION SMALL */
@media only screen and (max-width: 1023px){
    .second_section{
        text-align: center;
        margin-top: 100px;
    }

    .intro_content h1{
        font-size: 2.5rem;
        font-weight: 900;
        color: var(--verde--);
    }

    .intro_content p{
        font-size: 1.2rem;
    }

    .info_content{
        display: grid;
    }

    .info{
        margin-top: 40px;
    }

    .info img{
        width: 200px;
    }

    .info h3{
        font-weight: 900;
        margin-top: 10px;
    }

    .info p{
        font-size: 1.3rem;
        width: 500px;
    }
}

/* SEGUNDA SECCION BIG */

@media(min-width:768px){
    .second_section{
        background-color: var(--gris--);
        text-align: center;
        height: 400px;
    }

    .intro_content{
        position: relative;
        top: 40px;
    }

    .intro_content h1{
        font-size: 3rem;
        color: var(--verde--);
        font-family: 'Outfit', sans-serif;
        font-family: 'Roboto', sans-serif;
    }

    .intro_content p{
        font-size: 1.2rem;
        color: rgb(170, 162, 162);
        font-weight: 600;
        }

    .info_content{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .info{
        margin-top: 6rem;
        width: 450px;
    }

    .info img{
        width: 60px;
    }

    .info h3{
        font-size: 1.5rem;
        font-family: 'Outfit', sans-serif;
        font-family: 'Roboto', sans-serif;
    }

    .info p{
        font-size: 1.1rem;
    }
}


/* TERCERA SECCION SMALL */
@media only screen and (max-width:1023px){
    .third_section{
        text-align: center;
        margin-top: 50px;
    }

    .title_content p{
        width: 500px;
        font-size: 1.3rem;
    }

    .api_info h1{
        font-weight: 900;
    }

   
    .list_content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);  
        margin: 0% auto;
        margin-top: 40px;
        
    }

    .list_content img{
        width: 40px;
    }

    .list_content p{
        position: relative;
        right: 100px;


    }
}

/* TERCERA SECCIÓN BIG */
@media(min-width:768px){
    .title_content{
        text-align: center;
        margin-top: 9rem;
    }

    .title_content p{
        font-size: 1.3rem;
        font-weight: 600;
    }

    .api_content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 5rem;
    }

    .list_content img{
        width: 40px;
        position: relative;
        right: 20px;
        height: 40px;
    }

    .list_content{
        display: flex;
        margin-top: 30px;
        width: 350px;
        position: relative;
        right: 180px;

    }

    .list_content p{
        width: 343px;
        margin-top: 5px;
        font-size: 1.3rem;
        font-weight: 600;
    }

}


/* CUARTA SECCION small */
@media only screen and (max-width:768px){
    .fourth_section{
        text-align: center;
        margin-top: 70px;
    }

    .title_faq h1{
        font-size: 2.5rem;
        color: var(--verde--);
        font-weight: 700;
    }

    .content_info-faq{
        margin-top: 50px;
        width: 500px;
    }

    .content_info-faq h2{
        color: var(--verde--);
        font-weight: 600;
    }

    .third_content{
        margin-top: 50px;
    }

    .third_content h1{
        font-weight: 900;
    }

    .third_content img{
        width: 40px;
    }

    .contactar{
        padding: 10px 20px 10px 20px;
        background-color: var(--verde--);
        width: 180px;
        border-radius: 5px;
        margin-bottom: 40px;
    }

    .contactar a{
        color: var(--blanco--);


    }


}
/* CUARTA SECCIÓN BIG */
@media(min-width:768px){
    .fourth_section{
        background-color: var(--gris--);
        height:790px;
    }

    .title_faq{
        position: relative;
        top: 5rem;

    }

    .title_faq h1{
        text-align: center;
        font-size: 3rem;
        color: var(--verde--);
        font-family: 'Outfit', sans-serif;
        font-family: 'Roboto', sans-serif;
    }

    .content_faq{   
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 5rem;
    }

    .content_info-faq{
        margin-top: 4rem;
        width: 600px;
    }

    .content_info-faq h2{
        font-size: 2rem;
        font-weight: 900;
    }

    .content_info-faq :last-child p{
        font-weight: 600;
        font-size: 1.3rem;
    }

    .content_info-faq :last-child{
        margin-top: 2rem;
    }

    .third_content{
        margin-top: 4rem;
        text-align: center;
    }

    .third_content h1{
        color: var(--verde--);
    }

    .third_content img{
        width: 30px;
        position: relative;
        top: 3px;
    }

    .contactar{
        width: 197px;
        padding: 10px 30px 10px 30px;
        background-color: var(--verde--);
        text-align: center;
        transition: transform .2;
        border-radius: 5px;
        display: flex;
    }



    .contactar:hover{
        cursor: pointer;
        transform: scale(1.1);
    }

    .contactar a{
        position: relative;
        font-size: 1.3rem;    
        color: var(--blanco--);
    }
}

/* FOOTER small */
@media only screen and (max-width:1023px){
    footer{
        background-color: var(--negro--);
    }

    .all_content-footer img{
        width: 90px;
    }

    center p{
        color: var(--blanco--);
    }

    .enlaces_footer{
        text-align: center;
        margin-top: 50px;
    }

    .enlaces_footer h2{
        color: var(--verde--);
    }

    .enlaces_footer ul{
        list-style: none;
        margin-right: 30px;
    }

    .enlaces_footer li{
        margin-top: 10px;
    }

    .enlaces_footer a{
        color: var(--blanco--);
    }

    .copright{
        text-align: center;
        margin-top: 5px;
        color: var(--blanco--);
    }
} 

/* FOOTER BIG */
@media(min-width:768px){
    footer{
        background-color: var(--negro--);
    }
    .all_content-footer img{
        width: 100px;
        margin-top: 5px;
    }

    center{
        position: relative;
        top: 2rem;
    }

    center p{
        color: var(--blanco--);
    }

    .enlaces_footer{
        margin-top: 6rem;
    }

    .enlaces_footer h2{
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
        color: var(--blanco--);
        font-weight: 800;
    }

    .enlaces_footer ul{
        list-style: none;
        display: flex;
    }

    .enlaces_footer a:hover{
        color: var(--rojo--);
    }

    .copright{
        margin-top: 3rem;
        color: var(--blanco--);
        margin-left: 9rem;
    }

    .copright h6{
        margin: 0%;
    }
    
    
}