<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instancias</title>
    <link rel="stylesheet" href="../../src/public/css/app.css">
</head>
<body>
    <!-- Encabezado pendiente -->
    <main>
        <div class="content_encabezado-main">
            <div class="content_inicio-instancia">
                <a href="#">
                    <i class="fa-solid fa-circle-arrow-left"></i>
                    <p>Inicio de instancias</p>
                </a>
            </div>

            <div class="content_button-agregar-instancia">
                <button>
                    <i class="fa-solid fa-circle-plus"></i>
                    <p>Agregar instancia</p>
                </button>
            </div>
        </div>

        <div class="content_tabla-instancia">
            <table class="tabla_intancias">
                <tr>
                    <th scope="row">
                        Instancias        
                    </th>
                </tr>

                <tr>
                    <td>
                        Instancias
                    </td>

                    <td>
                        Fecha de creación
                    </td>

                    <td>
                        Fehca de caducidad
                    </td>

                     <td>
                        Estatus
                    </td>
                </tr>
            </table>
        </div>
    </main>
    <!-- Footer pendiente -->
    <script src="https://kit.fontawesome.com/1fb0613f73.js" crossorigin="anonymous"></script>
</body>
</html>