//Colores
$negro: black;
$blanco: #ffff; 
$verde: #52BE80; 
$gris: #EAEDED;

//Tamaño de fuentes
$titulo: 3rem;
$parrafo: 1.5rem;


//Medidas para los media queries
$phone: 480px;
$tablet-min: 481px;
$tablet-max: 768px;
$desktop: 769px;
$desktopXl: 1200px;

//fuentes
$fuente: 'Outfit', sans-serif;
