
    <section class="fourth_section">
        <div class="title_faq">
            <h1>FAQ</h1>
        </div>

        <div class="content_faq">
            <div class="firt_content">
                <div class="content_info-faq">
                    <div>
                        <h2>¿Que es Whatssive?</h2>
                    </div>
    
                    <div>
                        <p>Loremupiditate porro voluptatem, dolore unde culpa, praesentium placeat et blanditiis.</p>
                    </div>
                </div>

                <div class="content_info-faq">
                    <div>
                        <h2>¿Que tal es el servicio que ofrece Whatssive?</h2>
                    </div>
    
                    <div>
                        <p>Loremupiditate porro voluptatem, dolore unde culpa, praesentium placeat et blanditiis.</p>
                    </div>
                </div>
            </div>

            <div class="second_content">

                <div class="content_info-faq">
                    <div>
                        <h2>¿Cuál es la funcionalidad de Whatssive?</h2>
                    </div>
    
                    <div>
                        <p>Loremupiditate porro voluptatem, dolore unde culpa, praesentium placeat et blanditiis.</p>
                    </div>
                </div>

                <div class="content_info-faq">
                    <div>
                        <h2>¿Es seguro Whatssive?</h2>
                    </div>
    
                    <div>
                        <p>Loremupiditate porro voluptatem, dolore unde culpa, praesentium placeat et blanditiis.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="third_content">
            <h1>¡Si tienes dudas contactanos aquí!</h1>
            <div class="contactar">
                <img src="/img/iphone.png" alt="iphone"> 
                <a href="#">Contactar</a>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="all_content-footer">
            <center>
                <img src="/img/Whatssive.png" alt="Logo Whatssive">
                <p>Empieza ahora mismo con Whatssive <br> y comienza a enviar mensajería de forma <br> masiva a los contactos que desees</p>
            </center>
    
            <div class="enlaces_footer">
                <h2>Enlaces</h2>
                <ul>
                    <li><a href="#">Documentación</a></li>
                    <li><a href="#">Contactanos</a></li>
                    <li><a href="#">Términos y condiciones</a></li>
                    <li><a href="#">Pólitica de privacidad</a></li>
                </ul>
            </div>
    
            <div class="copright">
                <h6>Todos los derechos reservados &copy; Whatssive 2022</h6>
            </div>
        </div>
    </footer>
