<form>
    <div class="content_logo">
        <video src="/img/Whatssive-white.mp4" autoplay></video>
    </div>

    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">Ingresa tu correo electrónico</div>
    </div>

    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
    </div>

    <div class="button_content">
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="#">No tienes cuenta?</a>

    </div>
</form>