    <footer class="footer">
        <div class="all_content-footer">
            <center>
                <img src="/img/Whatssive.png" alt="Logo Whatssive">
                <p>Empieza ahora mismo con Whatssive <br> y comienza a enviar mensajería de forma <br> masiva a los contactos que desees</p>
            </center>
    
            <div class="enlaces_footer">
                <h2>Enlaces</h2>
                <ul>
                    <li><a href="#">Documentación</a></li>
                    <li><a href="#">Contactanos</a></li>
                    <li><a href="#">Términos y condiciones</a></li>
                    <li><a href="#">Pólitica de privacidad</a></li>
                </ul>
            </div>
    
            <div class="copright">
                <h6>Todos los derechos reservados &copy; Whatssive 2022</h6>
            </div>
        </div>
    </footer>
