<section class="fourth_section">
        <div class="title_faq">
            <h1>FAQ</h1>
        </div>

        <div class="content_faq">
            <div class="content">
                <div class="content_info-faq">
                    <div>
                        <h2>¿Que es Whatssive?</h2>
                    </div>
    
                    <div>
                        <p>Loremupiditate porro voluptatem, dolore unde culpa, <br> praesentium placeat et blanditiis.</p>
                    </div>
                </div>

                <div class="content_info-faq">
                    <div>
                        <h2>¿Que tal es el servicio que ofrece Whatssive?</h2>
                    </div>
    
                    <div>
                        <p>Loremupiditate porro voluptatem, dolore unde culpa, <br> praesentium placeat et blanditiis.</p>
                    </div>
                </div>
            </div>

            <div class="content">

                <div class="content_info-faq">
                    <div>
                        <h2>¿Cuál es la funcionalidad de Whatssive?</h2>
                    </div>
    
                    <div>
                        <p>Loremupiditate porro voluptatem, dolore unde culpa, <br> praesentium placeat et blanditiis.</p>
                    </div>
                </div>

                <div class="content_info-faq">
                    <div>
                        <h2>¿Es seguro Whatssive?</h2>
                    </div>
    
                    <div>
                        <p>Loremupiditate porro voluptatem, dolore unde culpa, <br> praesentium placeat et blanditiis.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="content">
            <h1>¡Si tienes dudas contactanos aquí!</h1>
            <div class="contactar">
                <img src="/img/iphone.png" alt="iphone"> 
                <a href="#">Contactar</a>
            </div>
        </div>
    </section>
