<header>
  <nav class="navbar">
    <div class="content_logo">
      <video src="/video/Whatssive.mp4" autoplay muted></video>
    </div>

    <div class="content_enlaces">
      <ul style="list-style-type: none;">
        <li><a href="/">Inicio</a></li>
        <li><a href="#api de WhatsApp">Api de WhatsApp</a></li>
        <li><a href="#tutoriales">Tutoriales</a></li>
        <li><a href="/QuienesSomos">Quienes Somos</a></li>
        <li><a href="/signin">Iniciar Sección</a></li>
      </ul>
    </div>

    <div class="content_navbar-small">
      <div>
        <span>
          <img src="/img/menu.png" alt="" class="hamburguesa">
        </span>
      </div>

      <div class="content_menu-desplegable-header" style="display: none;">
        <div class="content_menu">
          <h4>Menú</h4>
          <span>
            <img src="/img/x.png" alt="" class="x">
          </span>
        </div>

        <div class="content_enlaces-small">
          <ul>
            <li><a href="#inicio">Inicio</a></li>
            <li><a href="#api de WhatsApp">Api de WhatsApp</a></li>
            <li><a href="#tutoriales">Tutoriales</a></li>
            <li><a href="#quienes Somos">Quienes Somos</a></li>
            <li><a href="#login"></a>Login</li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>