<header>
  <nav class="navbar">
      <div class="content_logo">
        <video src="/src/public/video/Whatssive.mp4" autoplay muted></video>
      </div>

      <div class="content_enlaces">
        <ul>
            <li><a href="#inicio">Inicio</a></li>
            <li><a href="#api de WhatsApp">Api de WhatsApp</a></li>
            <li><a href="#tutoriales">Tutoriales</a></li>
            <li><a href="#quienes Somos">Quienes Somos</a></li>
            <li><a href="#login">Iniciar Sección</a></li>
        </ul>
      </div>

      <div class="content_navbar-small">
        <div>
          <span>
            <img src="" alt="">
          </span>
        </div>

        <div class="content_menu-desplegable">
          <div class="content_menu">
            <h4>Menú</h4>
            <span>
              <img src="" alt="">
            </span>
          </div>

          <div class="content_enlaces-small">
            <li><a href="#inicio">Inicio</a></li>
            <li><a href="#api de WhatsApp">Api de WhatsApp</a></li>
            <li><a href="#tutoriales">Tutoriales</a></li>
            <li><a href="#quienes Somos">Quienes Somos</a></li>
            <li><a href="#login"></a>Login</li>
          </div>
        </div>
      </div>
  </nav>

  <div class="content_all-firt-section">
            <div class="content_absolute">
                <div class="title_content">
                    <h1>Api de whatsapp</h1>
                    <p>Envía mensajes por (Precio) al mes</p>
                    <div class="button_content">
                        <a href="#"><button class="api_button">Compra aquí</button></a>
                        <a href="#"><button class="api_button">Documentación</button></a>  
                    </div>
                </div>
                <div class="content_img">
                    <img src="/img/Full Inbox _Monochromatic.png" alt="">
                </div>
            </div>   
        </div>
</header>