<nav class="navar">
  <nav class="navbar navbar-expand-lg bg-black">
    <div class="container-fluid">
      <a class="navbar-brand content_logo" href="#">
        <video src="/img/Whatssive.mp4" autoplay muted></video>
      </a>

      <a class="navbar-brand content_logo2" href="#">
        <video src="/img/Whatssive-white.mp4" autoplay muted class="video_small"></video>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="#">Inicio</a>
          <a class="nav-link" href="#">Api de whatsapp</a>
          <a class="nav-link" href="#">Tutoriales</a>
          <a class="nav-link" href="">Quienes somos</a>
          <a class="nav-link" href="/login">Iniciar sesión</a>
        </div>
      </div>
    </div>
  </nav>
</nav>