 <section class="second_section">
        <div class="intro_content">
            <h1>Como funciona?</h1>
            <p>Lorem ipsum dolor sit amet consra plaatur sunt lat vitae placeat?</p>
        </div>

        <div class="info_content">
            <div class="info">
                <img src="/img/alt-de-inicio-de-sesion.svg" alt="login" class="icon">
                <h2>Crea una cuenta</h2>
                <p>Lorem ipsum dolor sit amet consra plaatur sunt lat vitae placeat?</p>
            </div>

            <div class="info">
                <img src="/img/codigo-qr.png" alt="Qr code" class="icon">
                <h2>Escanea el código QR</h2>
                <p>Lorem ipsum dolor sit amet consra plaatur sunt lat vitae placeat?</p>
            </div>
                <div class="info">
                     <img src="/img/enviar-mensajes-de-texto.png" alt="login" class="icon">
                    <h2>Envía mensajes</h2>
                    <p>Lorem ipsum dolor sit amet consra plaatur sunt lat vitae placeat?</p>
                </div>
            </div>
        </div>
    </section>