<section class="third_section">
        <div class="title_content">
            <h1>Whatssive es de fácil uso</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Suscipit saepe ducimus nesciunt,psum.</p>
        </div>

        <div class="api_content">
            <div class="image_api">
                <img src="/img/Designer _Flatline.svg" alt="Designer">
            </div>

            <div class="api_info">
                <h1>Comunícate con tus clientes <br> mediante la api de whatsapp</h1>
                <div class="list_content">
                    <img src="/img/comprobado.png" alt="list">
                    <p>Mayor alcance a los clientes</p>
                </div>

                <div class="list_content">
                    <img src="/img/comprobado.png" alt="list">
                    <p>El tiempo del cliente es menor</p>
                </div>

                <div class="list_content">
                    <img src="/img/comprobado.png" alt="list">
                    <p>Gran cantidad de mensajes</p>
                </div>
            </div>

        </div>
    </section>