<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenida</title>
</head>
<body>
    <header>
        <div class="content_all-buttons">
            <div class="content_button-hamburguesa">
                <i class="fa-solid fa-bars"></i>
            </div>  
            <div class="content_user">
                <i class="fa-solid fa-user"></i>
                <i class="fa-solid fa-caret-down"></i>
            </div>
        </div>

        <div class="content_menu-desplegable">
            <div class="content_button-cerrar">
                <p>Menú</p>
                <i class="fa-solid fa-xmark-large"></i>
            </div>

            <div class="menu_desplegable">
                <a href="#">Tablero de mandos</a>
                <a href="#">Tablero de mandos</a>
                <a href="#">Tablero de mandos</a>
                <a href="#">Tablero de mandos</a>
                <a href="#">Tablero de mandos</a>
                <a href="#">Tablero de mandos</a>
                <a href="#">Tablero de mandos</a>
            </div>
        </div>
    </header>
</body>
</html>