<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenida</title>
    <link rel="stylesheet" href="../../src/public/css/app.css">
</head>
<body>
    <header class="header_bienvenida">
        <div class="content_all-buttons">
            <div class="content_button-hamburguesa">
                <i class="fa-solid fa-bars icon"></i>
            </div>  
            <div class="content_user">
                <i class="fa-solid fa-user"></i>
                <div class="content_opciones-user">
                    <i class="fa-solid fa-caret-down"></i>
                    <ul>
                        <li><a href="#">
                            <i class="fa-solid fa-gear"></i>
                            <p>Ajustes</p>
                        </a></li>
                        <li><a href="#">
                            <i class="fa-solid fa-power-off"></i>
                            <p>Cerrar Sesión</p>
                        </a></li>
                    </ul>
                    

                </div>
            </div>
        </div>

        <div class="content_menu-desplegable" style="display: none;">
            <div class="content_button-cerrar">
                <p>Menú</p>
                <i class="fa-solid fa-xmark-large"></i>
            </div>

            <nav class="menu_deplegable">
              <a href="#">Tablero de mandos</a>
              <a href="#">Tablero de mandos</a>
              <a href="#">Tablero de mandos</a>
              <a href="#">Tablero de mandos</a>
              <a href="#">Tablero de mandos</a>
              <a href="#">Tablero de mandos</a>
              <a href="#">Tablero de mandos</a>
            </nav>
        </div>
    </header>

    <script src="https://kit.fontawesome.com/1fb0613f73.js" crossorigin="anonymous"></script>

</body>
</html>