<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
</head>
<body style="margin-top: 100px;">
    <form action="" class="formulario_iniciar-sesion">
        <div class="content_all-formulario">
            <div class="content_header-formulario">
                <div class="content_logo-formulario">
                    <video src="../../../src/public/video/Whatssive-white.mp4" autoplay muted></video>
                </div>
                
                <div class="content_bienvenida">
                    <h4>Bienvenido/a</h4>
                    <p>Ingresa tu cuenta</p>
                </div>
            </div>

            <div class="content_main-formulario">
                <div class="campo">
                    <i class="fa-solid fa-user"></i>
                    <input type="text" id="user" placeholder="Usuario">
                </div>

                <div class="campo">
                    <i class="fa-solid fa-lock"></i>
                    <input type="password" id="password" placeholder="Contraseña">
                </div>

                <div class="content_olvido-contraseña">
                    <a href="#">
                        <p>¿Olvidaste tu contraseña?</p>
                    </a>
                </div>

                <div class="content_button-iniciar-sesion">
                    <a href="#"><button type="submit">Iniciar Sesión</button></a>
                </div>
            </div>

            <div class="content_footer-formulario">
                <div class="content_parrafo-no-tienes-cuenta">
                    <p>¿No tienes cuenta?</p>
                </div>

                <div class="content_button-crear-cuenta">
                    <a href="#"><button>Crear tu cuenta</button></a>
                </div>

                <div class="content_terminos-condiciones">
                    <p>Al ingresar confirmas que has leído nuestros <a href="#">Términos y condiciones</a>y <a href="#">Política de privacidad</a></p>
                </div>
            </div>

        </div>
        
    </form>

</body>
</html>