<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
</head>
<body style="margin-top:200px">
    <div class="content_iniciar">
        <form action="#">
            <div class="content_logo">
                <img src="" alt="">
            </div>

            <div class="content_parrafo-bienvenido">
                <p>Bienvenido/a</p>
            </div>
            <div class="content_campo">
                <label for="">Correo</label>
                <input type="email" name="email" id="email">
            </div>

             <div class="content_campo">
                <label for="">Contraseña</label>
                <input type="password" name="password" id="password">
            </div>

            <div>
                <a href="#">
                    <p>¿Olvidaste tu contraseña?</p>
                </a>
            </div>

            <div class="content_button">
                <button>Iniciar Sesión</button>
            </div>

            <hr>

            <div class="content_no-cuenta">
                <p>¿No tienes una cuenta?</p>
            </div>

            <div class="content_button-crear">
                <a href="/signup" >Crear cuenta</a>
            </div>

            <div class="content_terminos-condiciones">
                <p>Al ingresar confirmas que aceptas nuestros <a href="#">términos y condiciones</a></p>
            </div>
        </form>
    </div>
    
</body>
</html>